<br>
<div class="header">
      <h1>{{title}} Archives </h1>
  </div>
<div class="row">
  
  <div class="col-md-8 main">
   {{#if post}}
     
        <div class="post">
          
         <div class="post-body">
         
            <h2 class="blog-post-title">
              {{title}}
            </h2>
         
          <p class="blog-post-meta">
            posted on
            {{#formatDate}}
              {{date}}
            {{/formatDate}} by <a href="#">{{author}}</a>
          </p>
          <p>{{{body}}}</p>
          
        </div>
      </div>
     
      {{else}}
        <div class="well">
          <div class="row">
            <h1 class="text-center">No Post Available</h1>
          </div>
        </div>
  {{/if}}
      
  </div>
  
</div>