<br>
<div class="header">
      <h1>{{title}}  </h1>
  </div>
<div class="row">
  
  <div class="col-md-8 main">
   {{#if post}}
    {{#each post}}
     
        <div class="post">
          <img src="/images/uploads/{{imagename}}" alt="">
         <div class="post-body">
                            
          <p class="blog-post-meta">
            Posted on
            {{#formatDate}}
              {{date}}
            {{/formatDate}} by <a href="#">{{author}}</a>
          </p>
          <p>{{{body}}}</p>
          
        </div>
      </div>
     {{/each}}
      {{else}}
        <div class="well">
          <div class="row">
            <h1 class="text-center">No Post Available</h1>
          </div>
        </div>
  {{/if}}
      
  </div>
  
</div>